body {
  margin: 0;
  padding: 0;
  background: #fcfdfe;
}

.container {
  width: 90vw;
  min-height: 90vh;
  border-radius: 10px;
  max-width: 1200px;
  margin: 4vh auto;
  padding: 0 20px;
  padding-bottom: 10px;
}

.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.form-flex form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-flex form input {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-flex form label {
  text-align: center;
  font-size: 2rem;
}

.parking-space {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.parking-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  height: 5rem;
  background: #50c878;
  cursor: pointer;
}

.parking-spot:hover {
  background: #40826d;
  color: #fff;
}

.parking-spot-taken {
  background: #f00;
  color: #fff;
}

.parking-spot span {
  font-size: 2rem;
  padding: 10px;
}

.history-list {
  overflow-y: scroll;
  height: 75vh;
}

.history-date {
  font-weight: bold;
  color: blue;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8c50fa;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation ul li {
  font-size: 1.5rem;
  text-decoration: none;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #ccc;
}
